*{
  font-family: 'Nunito', sans-serif;
}

a {
  color: #eee; 
  padding: 0 .5em;
}
a.active {
  color: rgb(255, 255, 255);
}
form {
  width: 100%;
}
fieldset {
  display: flex;
  flex-direction: column;
}
button {
  width: 100%;
  max-width: 20em;
  cursor: pointer;
  background-color: #407cff;
  padding: .8em 3em;
  border: 2px solid #9fe9fd;
  border-radius: .5em;
  transition: .2s;
  font-size: 1em;
  font-weight: bold;
  color: #ceddff;
}
button:hover {
  background-color: #287eff;
  color: #eee;
  box-shadow: 0 0 0 3px #408cff;

}


input[type="text"],
input[type="password"],
input[type="email"]
, textarea {
  display: block;
  border: 1px solid #ccc;
  padding: .8rem;
  border-radius: .3em;
  background: #eee;
  transition: .2s;
  margin-bottom: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea {
  outline: none;
  border-color: #256aff;
  background: #fff;
  box-shadow: 0 0 0 3px #85d2ff;
}

body {
  background-color: #212121;
  color: #eee;
}